@import "tailwindcss";

@layer base {
  :root {
    --bg-main: 250 250 250;
    --text-main: 24 24 27;
  }

  .dark {
    --bg-main: 9 9 11;
    --text-main: 250 250 250;
  }

  body {
    background-color: rgb(var(--bg-main));
    color: rgb(var(--text-main));
  }
}

@custom-variant dark (&:where(.dark, .dark *));
